{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="/medicine/users/static/Images/logooriginal.png">
    <title>Medic Booking System</title>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="name">
                    <p> Medic</p>
                    <p> Booking </br> Platform</p>
                </div>
                <div class="link">
                    <ul>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="description">
                <h1>The Smarter Way to Book an Appointment</h1>
                <p>Book an apppointment with a qualified doctor easily and quickly.</p>
                <p>Talk in person or by phone.</p>
                <p>Help us match you with the right Doctor</p>
                <a href="login.html"><button><span class="search"><img src="../static/Images/magnifying-glass-solid.svg" alt=""></span> Find a Doctor</button></a>
            </div>
        </nav>
    </header>
</body>
</html>
