{% extends 'registration/base.html' %}
{% block title %}Doctor's Sign up page {% endblock %}

{% block content %}
<form class="patient-form" action="#" method="post" enctype="multipart/form-data">
    <div class="input-group first-name">
        <label for="firstname"></label>
        <input id="firstname" name="firstname" type="text" placeholder="First Name">
    </div>
    <div class="input-group last-name">
        <label for="lastname"></label>
        <input id="lastname" name="lastname" type="text" placeholder="Last Name">
    </div>
    <div class="input-group">
        <label for="mail"></label>
        <input type="email" name="mail" placeholder="Email">
    </div>
    <div class="input-group">
        <label for="number"></label>
        <input type="tel" name="number" placeholder="Phone Number">
    </div>
    <div class="input-group">
        <label for="text"></label>
        <input type="text" name="number" placeholder="Speciality">
    </div>
    <div class="input-group">
        <label for="gender"></label>
            <select id="gender" name="gender" >
                <option value="" disabled selected hidden>Choose Gender...</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
    </div>
    <div class="input-group">
        <label for="county"></label>
        <select id="county" name="county" >
            <option value="" disabled selected hidden>Choose your county...</option>
            <option value="Mombasa">Mombasa</option>
            <option value="Nairobi">Nairobi</option>
        </select>
    </div>
    <div class="input-group password">
        <label for="password"></label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div class="input-group confirm-password">
        <label for="passconfirm"></label>
        <input type="password" name="passconfirm" placeholder="Confirm password">
    </div>
    <button>
        Sign up
    </button>
</form>
{% endblock %}