{% extends 'registration/base.html' %}
{% block title %}Doctor's Sign up page {% endblock %}
{% load widget_tweaks %}
{% block content %}
	<form method="POST" action="" class="patient-form" style="height:auto; margin: 200px auto; box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.35) ;">
		{% csrf_token %}
		<div class="input-group mb-3">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
			</div>
			<input type="text" name="username" placeholder="Username..." class="form-control">
		</div>
		<div class="input-group mb-2">
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-key"></i></span>
			</div>
				<input type="password" name="password" placeholder="Password..." class="form-control" >
		</div>
			<div class="d-flex justify-content-center mt-3 login_container">
				<input
				style=" 
				cursor: pointer;
				width: 100%;
				padding: .6rem 0;
				border-radius: .5rem;
				border: none;
				background-color: var(--primary-color);
				color: var(--white);
				font-size: 1.2rem;
				outline: none;
			"
				class="btn login_btn" type="submit" value="Login">
			</div>
		{% for message in messages %}
		   <p id="messages">{{message}}</p>
		{% endfor %}			
		<div class="options" style="display: flex; justify-content: center;">
			<div class="d-flex justify-content-center links">
				Don't have an account? <a href="{% url 'signup' %}" class="ml-2">Sign Up</a>
			</div>
			<!-- <div class="d-flex justify-content-center links">
				Don't have a Doctor's account? <a href="{% url 'doc-register' %}" class="ml-2">Sign Up</a>   
			</div>
			<div class="d-flex justify-content-center links">
				Forgot password? <a href="#" class="ml-2">Reset password</a>
			</div> -->
		   </div>
	</form>
{% endblock %}