{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'registration/signup.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="name">
            <a href="#">Medic Booking System</a>
        </div>
        <div class="login">
            <a href="{% url 'login' %}">Log in</a>
        </div>
    </header>
    <main>
        <h2>Sign up for a free account</h2>
        <div class="users">
            <a href="{% url 'pat-register' %}"><button>I'm a Patient</button></a>
            <a href="{% url 'doc-register' %}"><button>I'm a Doctor</button></a>
        </div>
        <h4>Select the type of account you want to create</h4>

    </main>
</body>
</html>