{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/doctors.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/patient.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <title>{% block title %}Medic{% endblock %}</title>  
</head>
<body>
    <header style="align-items: center;">
            <div class="name">
                <h1> Medic</h1>
                <h2> Booking </br> Platform</h2>
            </div>
            <div class="logged-in-user" style="color: white; display: flex; ">
                <p>Logged in as {{ user.username }}</p>
                <a href="{% url 'logout' %}" style="margin: 0 20px; cursor: pointer;">Logout</a>
            </div>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>