{% extends 'main/base.html' %}
<!-- {% load static %} -->

{% block title %}Medic Booking System {% endblock %}


{% block content %}
<main class="landing" style="background: linear-gradient(45deg, #0d1d3287, #02132e78),url('../../static/main/images/doctors.jpg') no-repeat; background-size: cover;height: 565px; width: 100%;">
    <div class="description" style="margin-top: 0; color: white; padding-top: 200px;">
        <h1>The Smarter Way to Book an Appointment</h1>
        <p>Book an apppointment with a qualified doctor easily and quickly.</p>
        <p>Talk in person or by phone.</p>
        <p>Help us match you with the right Doctor</p>
        <a href="/main/templates/registration/login.html "><button><span class="search"><img src="{% static 'main/images/magnifying-glass-solid.svg' %}" alt=""></span> Find a Doctor</button></a>
    </div>
</main>
{% endblock %}