{% extends 'main/base.html' %}
{% block title %}Patient's home page {% endblock %}

{% block content %}
<main class="main">
    <div class="appointment">
        <h3>Book Appointment</h3>
        <form action="">
            <div class="input-group">
                <h4>Book an appointment</h4>
                <div class="input-group">
                    <label for="county"></label>
                        <select id="counties" name="county" >
                            <!-- <option value="" disabled selected hidden>Choose your county.</option> -->
                            <option value="Mombasa">Mombasa</option>
                            <option value="Nairobi">Nairobi</option>
                        </select>
                </div>
                <div class="input-group">
                    <label for="speciality"></label>
                        <select id="speciality" name="speciality" >
                            <option value="" disabled selected hidden>Choose the type of doctor you need.</option>
                            {% for speciality in specialities %}
                                <option value={{speciality}}>{{speciality}}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="input-group">
                    <label for="doctor"></label>
                        <select id="doctor" name="doctor" >
                            <option value="" disabled selected hidden>Choose Doctor.</option>
                        </select>       
                </div>
                <div class="input-group">
                    <label for="days"></label>
                        <select id="days" name="days" >
                            <option value="" disabled selected hidden>Choose a day.</option>
                        </select>
                </div>
                <script>
                    let specialities = document.getElementById('speciality')
                    let counties = document.getElementById('counties')
                    let doctors = JSON.parse("{{ final_res|escapejs }}")
                    let doctorKeys = Object.keys(doctors)
                    let onCallDoctors = document.getElementById('doctor')
                    let daysAvailable = document.getElementById('days')

                    specialities.addEventListener("change",function handleChange(event){
                            $('#doctor').empty().append('<option value="" disabled selected hidden>Choose the type of doctor you need.</option>')
                            doctorKeys.forEach(element => {
                            let availableDoctors = doctors[element]
                            if(availableDoctors['speciality'] == specialities.value && availableDoctors['county'] == counties.value){
                                let options = document.createElement("option")
                                options.text = "Dr. " +element
                                onCallDoctors.add(options,onCallDoctors[0])
                        }
                    
                    }); 
                    })
                    days.addEventListener("change", function daysAvailable(event){
                        $('#days').empty().append('<option value="" disabled selected hidden>Choose a day.</option>')
                        // doctorKeys.forEach(element => {
                        //     let selectedDoctor = document.getElementById('doctor').value
                        //     console.log(selectedDoctor)
                        //     let dayOfTheWeek = []
                        //     let daysOptions = document.createElement("option")
                        //     let availableDays = doctors[element]
                        //     console.log(availableDays)
                        //     for(let i = 0; i < availableDays.length; i++){
                        //                 dayOfTheWeek.push(availableDays[i])
                        //             }
                        // })
                        doctorKeys.forEach(element => {
                            let availableDoctors = doctors[element]
                            if(availableDoctors['name'] == onCallDoctors.value && availableDoctors['speciality'] == specialities.value){
                                let options = document.createElement("option")
                                options.text = element['days']
                                daysAvailable.add(options,daysAvailable[0])
                        }})
                    
                        // console.log(dayOfTheWeek)
                        // for(let i = 0; i < dayOfTheWeek.length; i++){
                        //     daysOptions.text = dayOfTheWeek[i]
                        //     availableDays.add(daysOptions,availableDays)
                        // }

                    })
                </script> 
            </div>
            <div class="actions">
                <div class="submit">
                    <label for="submit"></label>
                    <input type="submit" id="submit" name="submit" value="Submit">
                </div>
                <div class="cancel">
                    <label for="cancel"></label>
                    <input type="reset" id="cancel" name="cancel" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</main>
<script>
    
// let doctors = JSON.parse("{{ final_res|escapejs }}")
// console.log(doctors)
</script>
{% endblock %}