{% extends 'main/base.html' %}
{% block title %}Patient's home page {% endblock %}

{% block content %}
<main class="main">
    <div class="appointment">
        <h3>Book Appointment</h3>
        <form action="">
            <div class="input-group">
                <h4>Book an appointment</h4>
                <div class="input-group">
                    <label for="county"></label>
                        <select id="county" name="county" >
                            <option value="" disabled selected hidden>Choose your county.</option>
                            <option value="Mombasa">Mombasa</option>
                            <option value="Nairobi">Nairobi</option>
                        </select>
                </div>
                <div class="input-group">
                    <label for="speciality"></label>
                        <select id="speciality" name="speciality" >
                            <option value="" disabled selected hidden>Choose the type of doctor you need.</option>
                            <option value="Optimerist">Optimerist</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Dermatologist">Dermatologist</option>
                            <option value="Podiatrist">Podiatrist</option>
                            <option value="Practitioner">General Practitioner</option>
                            <option value="Pediatrician">Pediatrician</option>
                            <option value="Endocrinologist">Endocrinologist</option>
                            <option value="Neurologist">Neurologist</option>
                            <option value="Psychiatrist">Psychiatrist</option>
                        </select>
                </div>
                <div class="input-group">
                    <label for="doctor"></label>
                        <select id="doctor" name="doctor" >
                            <option value="" disabled selected hidden>Choose Doctor.</option>
                            <option value="Albert">Dr. Albert Kahira</option>
                            <option value="Nderu">Dr. Lawerence Nderu</option>
                            <option value="Gameli">Dr. Bright Gameli</option>
                            <option value="Carson">Dr. Ben Carson</option>
                            <option value="Chao">Dr. Chao Mbogo</option>
                        </select>
                </div>
                <div class="input-group">
                    <label for="days"></label>
                        <select id="days" name="days" >
                            <option value="" disabled selected hidden>Choose a day.</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                </div>
            </div>
            <div class="actions">
                <div class="submit">
                    <label for="submit"></label>
                    <input type="submit" id="submit" name="submit" value="Submit">
                </div>
                <div class="cancel">
                    <label for="cancel"></label>
                    <input type="reset" id="cancel" name="cancel" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</main>
<script>
    const ajaxObject = XMLHttpRequest()
    xhttp.onload = function() {
  // What to do when the response is ready
}

// Send a request
xhttp.open("GET", "ajax_info.txt");
xhttp.send();
</script>
{% endblock %}
