{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/doctors.css' %}">
    <link rel="stylesheet" href="/static/css/doctors.css">
    <title>Doctors home page</title>
</head>
<body>
    <header>
            <div class="name">
                <h1>Medic</h1>
                <h2>Doctor's <br> <span class="platform">Platform</span></h2>
            </div>
            <div class="navigation">
                <ul>
                    <li>Dr. Albert Kahira</li>
                    <li><a href="{% url 'index' %}">Logout</a></li>
                </ul>
            </div>
    </header>
    <main>
        <div class="schedule">
            <h3>Create schedule</h3>
            <form action="">
                <div class="input-group">
                    <h4>Select the days you'll be available</h4>
                    <input type="checkbox" id="monday" name="monday" value="Monday">
                    <label for="monday">Monday</label><br>
                    <input type="checkbox" id="tueday" name="tuesday" value="Tuesday">
                    <label for="tueday">Tuesday</label><br>
                    <input type="checkbox" id="wednesday" name="wednesday" value="Wednesday">
                    <label for="wednesday">Wednesday</label><br>
                    <input type="checkbox" id="thursday" name="thursday" value="thursday">
                    <label for="Thursday">Thursday</label><br>    
                    <input type="checkbox" id="friday" name="friday" value="friday">
                    <label for="friday">Friday</label><br>
                </div>
                <div class="actions">
                    <div class="submit">
                        <label for="submit"></label>
                        <input type="submit" id="submit" name="submit" value="Submit">
                    </div>
                    <div class="cancel">
                        <label for="cancel"></label>
                        <input type="reset" id="cance" name="cancel" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
        <div class="appointment">
            <h4>Booked Appointments</h4>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Day</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
                <tr>
                    <td>BruceFelix Macharia</td>
                    <td>brucefelixm@gmail.com</td>
                    <td>0792743861</td>
                    <td>Monday</td>
                    <td class="action one"> <a href="#">Accept</a></td>
                    <td class="action two"> <a href="#">Reject</a></td>
                </tr>
                <tr>
                    <td>BruceFelix Macharia</td>
                    <td>brucefelixm@gmail.com</td>
                    <td>0792743861</td>
                    <td>Monday</td>
                    <td class="action one "> <a href="#">Accept</a></td>
                    <td class="action two"> <a href="#">Reject</a></td>
                </tr>
                <tr>
                    <td>BruceFelix Macharia</td>
                    <td>brucefelixm@gmail.com</td>
                    <td>0792743861</td>
                    <td>Monday</td>
                    <td class="action one "> <a href="#">Accept</a></td>
                    <td class="action two"> <a href="#">Reject</a></td>
                </tr>
                <tr>
                    <td>BruceFelix Macharia</td>
                    <td>brucefelixm@gmail.com</td>
                    <td>0792743861</td>
                    <td>Monday</td>
                    <td class="action one"> <a href="#">Accept</a></td>
                    <td class="action two "><a href="#">Reject</a></td>
                </tr>
                <tr>
                    <td>BruceFelix Macharia</td>
                    <td>brucefelixm@gmail.com</td>
                    <td>0792743861</td>
                    <td>Monday</td>
                    <td class="action one"> <a href="#">Accept</a></td>
                    <td class="action two"> <a href="#">Reject</a></td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>