.appointment{
    margin: 30px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    border-radius: 1.5rem 1.5rem;
}
.appointment h3{
    border-bottom: 1px solid #02132e;
    background-color: #02132e;
    width: 100%;
    color: white;
    padding: 1rem;
    text-align: center;
}
.input-group{
    margin: 10px;
}
.input-group h4{
    margin: 5px auto;
    border-bottom: 2px solid #02132e;
    width: max-content;
}
.submit input{
    background-color: #02132e;
    color: white;
    padding: .5rem 1rem;
    width: 100%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
 }
 .cancel input[type=reset]{
     background-color: #779fe0;
     color: #02132e;
     padding: .5rem 1rem;
     width: 100%;
     font-size: 20px;
     border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  .actions{
    display: flex;
    justify-content: space-evenly;
}
form{
    width: 100%;
    padding: 1rem;
}
.input-group select {
    width: 100%;
    padding: .6rem 2rem;
    font-size: 1rem;
    background-color: rgb(204, 204, 204);
    border-radius: .5rem;
    border: 0.05rem solid grey;
    outline: none;
}